node_modules
.next
out
src-tauri/target
src-tauri/gen
*.tsbuildinfo
next-env.d.ts
/.PrivateKey
.env
RELEASE.md
plugin/src-audio-engine/bin
plugin/src-audio-engine/obj
release setup.txt
plugin/src-audio-engine/publish/*
test_ai/*
__pycache__/*